[*.{cs,vb}]
dotnet_naming_rule.private_members_with_underscore.symbols  = private_fields
dotnet_naming_rule.private_members_with_underscore.style    = prefix_underscore
dotnet_naming_rule.private_members_with_underscore.severity = suggestion

dotnet_naming_symbols.private_fields.applicable_kinds           = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.prefix_underscore.capitalization = camel_case
dotnet_naming_style.prefix_underscore.required_prefix = _


[*.cs]
# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = silent

# S108:
dotnet_diagnostic.S108.severity = silent

# CA2254:
dotnet_diagnostic.CA2254.severity = silent

# S3060
dotnet_diagnostic.S3060.severity = silent

dotnet_diagnostic.S1104.severity = silent
